* {
    margin:0;
}

h1 {
    font-size: 6em;
    color: #ffd000ec;
    font-family: serif;
    font-style: italic;
    text-align: center;
    margin: 50px 0;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 3em;
    height: 3em;
    font-size: 2em;
    padding: 0;
    font-weight: bold;
    border:rgb(230, 199, 61) solid 2px;
}

.centerdiv{
    text-align: center;
    margin: 30px;
}

.principal{
    height: calc(100vh - 211px - 118px);
}

footer{
    background-color:rgb(230, 199, 61);
    color:#000000ec;
    padding: 50px;
    margin: 0px;
}